build/
build1/
pyPBAD.egg-info/
CMakeLists.txt.user
.vscode/
.bak
.idea
.project
.pydevproject
.cache
.ini
.so
.png
.pov
Python/__pycache__
Python/*.so
Python/*.npy
Python/*.ini
Python/*.gif
Python/*.dat
Python/control
Python/snake_control
Python/mesh
Python/snake_mesh
Python/*.txt
Python/log
Python/chain
Python/log_Chain
Python/pybind11
release
cmake-build-release
cmake-*/
Results/
scripts/iterations
scripts/*.vtk
scripts/*.dat
*.sw*
*/*.sw*
